<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/actionfiguredetail.css">
</head>
<body>
    <div id="figureDetails"></div>
    
    <button onclick="window.location.href='homepage.html'">Home</button>
    <button onclick="window.location.href='actionfigurelist.html'">Figure List</button>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const figureId = urlParams.get('id');
    
            fetch(`http://localhost:4000/api/bootleg-action-figures/${figureId}`)
                .then(response => response.json())
                .then(figure => {
                    const figureDetails = document.getElementById('figureDetails');
                    
                    // Create and append the image element
                    const imgElement = document.createElement('img');
                    imgElement.src = `/uploads/${figure.imagePath}`; // Update to use the image path
                    imgElement.alt = 'Figure Image';
                    figureDetails.appendChild(imgElement);

                    // Displaying other figure details
                    // Example: Name, Manufacturer, etc.
                    // You can create and append other elements to 'figureDetails'

                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
