body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background-image: url('/images/Star\ wars\ figure\ background.jpg');
    background-size: cover;
    background-position: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
}
.figure-list-container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.figure-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.figure-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.figure-name {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .figure-item {
        width: 150px; 
    }

    .figure-name {
        font-size: 1em; 
    }
}
